<View style="display: flex">
    <View style="flex: 80%">
        <BrushLabels name="labels" toName="image">
            <Label value="5 mass" background="#ff0000"/>
            <Label value="4 mass" background="#990000" />
            <Label value="5 nonmass" background="#ff9100"/>
            <Label value="4 nonmass" background="#b85c00"/>
            <Label value="2-3 lesion" background="#003cff"/>
            <Label value="Cyst" background="#00d0ff"/>
            <Label value="Lgll susp" background="#fffb00"/>
            <Label value="Lgll norm" background="#00ff44"/>
            <Label value="Nipple" background="#FF66CC"/>
        </BrushLabels>
        <View>
            <Image name="image" 
                value="$image_path" 
                width="720px" 
                maxWidth="1500px" 
                zoom="true" 
                brightnessControl="true" 
                contrastControl="true"
                />
        </View>
    </View>
    <View style="flex: 20%; margin-left: 1rem; width: 25vw">
        <Header value="PatientID"/>
        <Text value="$patient_id" name="patient_id"/> 
        <Header value="StudyID"/>
        <Text value="$study_id" name="study_id"/>
        <Header value="Assessment"/>
        <View style="display: no-flex; height:35vh; overflow-y: scroll; width:100%; overflow-x: visible;">
            <Text name="assessment" value="$assessment"/>  
        </View>
        <Header value="Annotation comments"/>
        <TextArea 
            name="comments"
            toName="image" 
            placeholder="Your comments here" 
            rows="3"
            maxSubmissions="1"/>
    </View>   
</View>
